<p> ----- todo-itme.component ---</p>
<!-- {{ item.title}} -->



<div>
    <input type="checkbox"
           class="todo-checkbox"
           (click)="completeItem()"/>


  
  </div>
<!-- 
  <span class="todo-title" [ngClass]="{'todo-complete': item.completed}">
    {{ item.title }}
  </span> -->
 
<!-- <ul>
    <li> 
       
            <input id="chk_1" type="checkbox"> todo itme 1 
            | <button (click)="removeItem()"> remove </button>
           
      
    </li>
</ul>


<ul>
    <li>
        <input id="chk_2" type="checkbox"> todo itme 2
        | <a href="#" >del </a>
    
    </li>
</ul>

<ul>
    <li>
        <input id="chk_3" type="checkbox"> todo itme 3
        | <a href="#" >del </a>
    
    </li>
</ul> -->

<p> ---- end -----</p>