<p>--app.componet--</p>
<h1> {{title}}</h1>
<p>-----end-------</p>

<app-header></app-header>
<app-add-form></app-add-form>

<!-- <app-todo-itme ></app-todo-itme> -->
<!-- <app-todo-itme></app-todo-itme> -->

<h1>
    Welcome to {{ title }}!
  </h1>

  <!-- <app-input-button-unit></app-input-button-unit> -->

  <!-- <ul>
    <li *ngFor="let todoItem of todoList">
      {{ todoItem.title }}
    </li>
  </ul> -->

  <ul>
    <li *ngFor="let todoItem of todoList">
      <app-todo-itme [item]="todoItem"></app-todo-itme>
    </li>
  </ul>

  <br>
  <p> input-button-unit </p>
  <app-input-button-unit (submit)="addItem($event)"></app-input-button-unit>
  <!-- <p> app-title </p>
  <app-title></app-title> -->
